h1 {
  font-size: 3em;
  padding-bottom: 50px;
}

.section-links {
  max-width: 800px;
  margin: 0 auto;
}
.tarjeta {
  text-align: initial;
  width: 100%;
}

.title-card {
  background-color:#303f9f;
  color: white;
  margin: 0;
  margin-bottom: 20px;
  padding: 80px;
}

.logo img{
  width: 1250px;
}

.welcome {
  position: relative;
  min-height: 100%;
  margin-bottom: 50px;
}