<form>
  <div [hidden]>
    <h2 class="title-primary">
      <md-icon color="primary">edit</md-icon> 
      &nbsp;<span>Datos de alta</span>
    </h2>
    <h3>Datos básicos de un usuario</h3>
    <p>
      <md-input-container>
        <input mdInput placeholder="Nombre" [(ngModel)]="name" name="name">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Apellidos" [(ngModel)]="lastName" name="lastName">
      </md-input-container>
    </p>
    <p>
      <md-input-container>
        <input mdInput placeholder="Dirección" [(ngModel)]="address" name="address">
      </md-input-container> 
      <md-input-container>
        <input mdInput placeholder="Ciudad" [(ngModel)]="city" name="city">
      </md-input-container>
    </p>
    <p>
      <md-input-container>
        <input mdInput placeholder="Código postal" [(ngModel)]="postalCode" name="postalCode">
      </md-input-container> 
      <md-input-container>
        <input mdInput placeholder="Teléfono" [(ngModel)]="phone" name="phone">
      </md-input-container>
    </p>
    <h3>Datos de identificación</h3>
    <p>
      <md-input-container>
        <input mdInput placeholder="Correo electrónico" [(ngModel)]="email" name="email">
      </md-input-container> 
    </p>
    <p>
      <md-input-container>
        <input mdInput placeholder="Password" [(ngModel)]="password" name="password">
      </md-input-container> 
      <md-input-container>
        <input mdInput placeholder="Repetir password" [(ngModel)]="password2" name="password2">
      </md-input-container> 
    </p>
    <p class="end">
      <button md-raised-button color="primary">Siguiente</button>
    </p>
  </div>

  <div>
    <h2 class="title-primary">
      <md-icon color="primary">credit_card</md-icon> 
      &nbsp;<span>Datos de pago</span>
    </h2>
    <p>
      <md-select placeholder="Método de pago">
        <md-option value="1">VISA</md-option>
        <md-option value="1">PayPal</md-option>
      </md-select>
    </p>
    <p class="end">
      <button md-raised-button color="primary">Siguiente</button>
    </p>
  </div>

  
</form>
