<div class="main-card">
  <md-card>
    <md-card-header>
      <md-icon md-card-avatar class="big-icon">build</md-icon>
      <md-card-title>Listado online</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>

      <!-- https://snazzymaps.com/editor/customize/72543 -->
      <div id="map"></div>
    </md-card-content>
    <md-card-actions>
      <button md-button>RECARGAR</button>
    </md-card-actions>
  </md-card>
</div>
