<form>
  <h3>Datos básicos para el alta de un conductor</h3>
  <p>
    <md-input-container>
      <input mdInput placeholder="Nombre" [(ngModel)]="name" name="name">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Apellidos" [(ngModel)]="lastName" name="lastName">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Password" [(ngModel)]="password" name="password">
    </md-input-container> 
    <md-input-container>
      <input mdInput placeholder="Repetir password" [(ngModel)]="password2" name="password2">
    </md-input-container> 
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Dirección" [(ngModel)]="address" name="address">
    </md-input-container> 
    <md-input-container>
      <input mdInput placeholder="Ciudad" [(ngModel)]="city" name="city">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Código postal" [(ngModel)]="postalCode" name="postalCode">
    </md-input-container> 
    <md-input-container>
      <input mdInput placeholder="Correo electrónico" [(ngModel)]="email" name="email">
    </md-input-container> 
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Teléfono" [(ngModel)]="phone" name="phone">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Permiso de conducción del reino de España" [(ngModel)]="driverLicense" name="driverLicense">
    </md-input-container> 
    <md-input-container>
      <input mdInput placeholder="Caducidad" [(ngModel)]="driverLicenseRenovation" name="driverLicenseRenovation">
    </md-input-container>
  </p>
  <p class="end">
    <button md-raised-button color="primary">Siguiente</button>
  </p>
  
</form>
