<!--The whole content below can be removed with the new code.-->
<div class="welcome" style="text-align:center">
  <md-card class="title-card">
    <h1>
      <img class="small-logo" src="../assets/logov2.png"/>
      taxy4fun
    </h1>
    <h2>Welcome</h2>
    <h3>Here are some links to help you start: </h3>
  </md-card>
  
  <md-card class="content">
    <md-list class="lista-enlaces">
      <md-list-item *ngFor="let link of links">
        <md-icon md-list-icon color="primary">{{link.icon}}</md-icon>
        <h4 md-line> 
          <a routerLink="/{{link.uri}}">{{link.text}}</a>
        </h4>
        <p md-line>{{link.description}}</p>
      </md-list-item>
    </md-list>
  </md-card>
</div>

