h1 {
  font-size: 3em;
  padding-bottom: 50px;
}

h1 .new {
  font-size: 1.5em;
}

.title-card {
  background-color:#303f9f;
  color: white;
  margin-bottom: 20px;
  padding: 80px;
}

.logo img{
  width: 250px;
}

.lista-enlaces {
  margin: 0 auto;
  max-width: 350px;
  text-align: left;
}

.welcome {
  position: relative;
  min-height: 100%;
  margin-bottom: 50px;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}