h1 {
  color: #3f51b5;
  font-size: 3em;
  padding-bottom: 50px;
}

h1 .new {
  font-size: 1.5em;
  color: #000551;
}

.logo img{
  width: 250px;
}

.lista-enlaces {
  margin: 0 auto;
  max-width: 350px;
  text-align: left;
}

.welcome {
  background-image: url("../../../assets/mapa_intro.png");
  background-repeat: repeat-y;
  position: relative;
  min-height: 100%;
  padding-top: 50px;
}