<mat-toolbar color="primary" class="mat-elevation-z6 fixed">

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>language</mat-icon>
          <span>Idioma</span>
        </button>
        <button mat-menu-item routerLink="/login">
          <mat-icon>voicemail</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      
    <a routerLink="/">
      <img class="small-logo" src="../assets/logov2.png"/>
    </a>
    <span class="title-logo" routerLink="/">taxy4fun</span>
    <span class="spacer"></span>
    <button mat-button (click)="openDialog()">
      <mat-icon class="example-icon">feedback</mat-icon>
      &nbsp; leave us a feedback 
    </button>
  </mat-toolbar>