.fixed {
  position: fixed;
  z-index: 3;
}

.spacer {
  flex: 1 1 auto;
}

.smaller {
  font-size: 0.75em;
}
.small-logo {
  width: 48px;
  padding: 0 12px;
}

.title-logo {
  font-size: 1.5em;
}

md-toolbar {
  position: absolute;
  top: 0;
}