<div class="main-card">
    <mat-card>
      <h2 mat-card-header class="title-primary">Login</h2>
      <mat-card-content>
  
        <p><strong>Introduce los datos de acceso:</strong></p>
  
        <mat-input-container>
         
          <input matInput placeholder="Correo electronico">
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Usuario es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('pattern')">
            Por favor, introduzca un correo correcto
          </mat-error>
         </mat-input-container> 
  
        <mat-input-container>
          <input matInput placeholder="Password">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password es <strong>obligatorio</strong>
          </mat-error>
        </mat-input-container>
  
        <mat-card-actions align="end">
          <button mat-button routerLink="/register">Registro</button>
          <button mat-raised-button color="primary" (click)="sendLogin()" >Acceder</button>
        </mat-card-actions>
  
      </mat-card-content>
    </mat-card>
  </div>
  