<form>
  <div [hidden]>
    <h2 class="title-primary">
      <mat-icon color="primary">edit</mat-icon>
      &nbsp;
      <span>Datos de alta</span>
    </h2>
    <h3>Datos básicos de un conductor de taxi</h3>
    <p>
      <mat-input-container>
        <input matInput placeholder="Nombre" [(ngModel)]="name" name="name">
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Apellidos" [(ngModel)]="lastName" name="lastName">
      </mat-input-container>
    </p>
    <p>
      <mat-input-container>
        <input matInput placeholder="Dirección" [(ngModel)]="address" name="address">
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Ciudad" [(ngModel)]="city" name="city">
      </mat-input-container>
    </p>
    <p>
      <mat-input-container>
        <input matInput placeholder="Código postal" [(ngModel)]="postalCode" name="postalCode">
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Teléfono" [(ngModel)]="phone" name="phone">
      </mat-input-container>
    </p>
    <h3>Datos de identificación</h3>
    <p>
      <mat-input-container>
        <input matInput placeholder="Correo electrónico" [(ngModel)]="email" name="email">
      </mat-input-container>
    </p>
    <p>
      <mat-input-container>
        <input matInput placeholder="Password" [(ngModel)]="password" name="password">
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Repetir password" [(ngModel)]="password2" name="password2">
      </mat-input-container>
    </p>
    <h3>Datos del permiso de conducción del reino de España</h3>
    <p>
      <mat-input-container>
        <input matInput placeholder="Número" [(ngModel)]="driverLicense" name="driverLicense">
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Caducidad" [(ngModel)]="driverLicenseRenovation" name="driverLicenseRenovation">
      </mat-input-container>
    </p>

    <p class="end">
      <button mat-raised-button color="primary">Siguiente</button>
    </p>
  </div>

  <div>
    <h2 class="title-primary">
      <mat-icon color="primary">credit_card</mat-icon>
      &nbsp;
      <span>Datos de pago</span>
    </h2>
    <p>
      <mat-select placeholder="Método de pago">
        <mat-option value="1">VISA</mat-option>
        <mat-option value="1">PayPal</mat-option>
      </mat-select>
    </p>
    <p class="end">
      <button mat-raised-button color="primary">Siguiente</button>
    </p>
  </div>
</form>
