<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome {{name}}!!
  </h1>
  <div class="logo">
    <img src="../assets/empanadilla.png"/>
  </div>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a href="logout">Logout</a></h2>
    </li>
    <li>
      <h2><a href="profile">Perfil</a></h2>
    </li>
    <li>
      <h2><a href="invoices">Facturas</a></h2>
    </li>
      <li>
      <h2><a href="travel">Nuevo trayecto</a></h2>
    </li>
  </ul>
</div>

