h1 {
  font-size: 3em;
  padding-bottom: 50px;
}

.section-links {
  margin: 0 10px;
  align-items: center;
  justify-content: center;
}
.tarjeta {
  margin: 10px;
  text-align: initial;
  min-width: 240px;
}

.title-card {
  background-color:#870000;
  color: white;
  margin: 0;
  margin-bottom: 20px;
  padding: 80px;
}

.logo img{
  width: 1250px;
}

.welcome {
  position: relative;
  min-height: 100%;
  margin-bottom: 50px;
}