<div class="welcome" style="text-align:center">
    <mat-card class="title-card">
      <h1>
        <img class="small-logo" src="../assets/logov2.png"/>
        taxy4fun
      </h1>
      <h2>Welcome</h2>
      <h3>Here are some links to help you start: </h3>
    </mat-card>
    
    <section class="section-links flex-row wrap">
      <mat-card *ngFor="let link of links" routerLink="/{{link.uri}}" class="tarjeta">
        <h4 mat-card-title>
          <mat-icon mat-list-icon color="primary">{{link.icon}}</mat-icon>
            <a routerLink="/{{link.uri}}">{{link.text}}</a>
        </h4>
        <p mat-line>{{link.description}}</p>
      </mat-card>
    </section>
  </div>
  
  