<div class="main-card">
  <h2>Coches</h2>
  <md-card>
    <md-card-content>
      <h2 class="title-primary">
        <md-icon color="primary">edit</md-icon> 
        &nbsp;<span>Coches disponibles para el conductor</span>
      </h2>
      <md-list>
        <md-list-item *ngFor="let car of cars">
          <md-icon md-list-icon role="link">folder</md-icon>
          <h4 md-line role="link">{{car.name}}</h4>
          <p md-line> {{car.license}} </p>
        </md-list-item>
      </md-list>

    </md-card-content>
  </md-card>
</div>