<h2 md-dialog-title class="title-primary">
    <md-icon color="primary">edit</md-icon> 
    &nbsp;
    <span *ngIf="isNew()">Editar coche</span>
    <span *ngIf="!isNew()">Nuevo coche</span>
</h2>
<md-dialog-content>

  <p>Edición de los detalles del vehículo. Los detalles serán validados.</p>
  
  <p>
    <md-input-container>
      <input mdInput placeholder="Alias" [(ngModel)]="name">
    </md-input-container>
  </p>

  <p>
    <md-input-container>
      <input mdInput placeholder="Matricula" [(ngModel)]="license">
    </md-input-container>
  </p>

  <p>
    <md-select placeholder="Tipo" [(ngModel)]="type">
      <md-option value="hatchback">Estandar</md-option>
      <md-option value="sedan">Sedan</md-option>
      <md-option value="van">Furgoneta</md-option>
    </md-select>
    <img class="icon-type" src="../assets/cars/{{type}}.svg"/>
  </p>
  <p></p>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-button md-dialog-close>Cancel</button>
  &nbsp;
  <button md-button md-raised-button color="primary" (click)="save()" >Save</button>
</md-dialog-actions>