<div class="profile">
  <h1>Perfil</h1>

  <md-card class="profile-card">
    <md-card-header>
      <md-icon md-card-avatar class="big-icon">build</md-icon>
      <md-card-title>Opciones</md-card-title>
      <md-card-subtitle>Opciones generales de perfil de usuario</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>GUARDAR</button>
      <button md-button>DESCARTAR</button>
    </md-card-actions>
  </md-card>

  <md-card class="profile-card">
    <md-card-header>
      <md-icon md-card-avatar class="big-icon">lock</md-icon>
      <md-card-title>Contraseña</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>GUARDAR</button>
      <button md-button>DESCARTAR</button>
    </md-card-actions>
  </md-card>
</div>