<md-toolbar color="primary" class="mat-elevation-z6 fixed">
  
  <button md-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
  </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="/">
        <md-icon>home</md-icon>
        <span>Home</span>
      </button>
      <button md-menu-item>
        <md-icon>language</md-icon>
        <span>Idioma</span>
      </button>
      <button md-menu-item routerLink="/login">
        <md-icon>voicemail</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
  <a routerLink="/">
    <img class="small-logo" src="../assets/logov2.png"/>
  </a>
  <span class="title-logo" routerLink="/">taxy4fun</span>
  <span class="spacer"></span>
  <button md-button (click)="openDialog()">
    <md-icon class="example-icon">feedback</md-icon>
    &nbsp; leave us a feedback 
  </button>
</md-toolbar>