.fixed {
  max-width: 1101px;
  position: fixed;
  top: -2px;
}
.bottom-spacer{
  margin-bottom: 60px;
}

.spacer {
  flex: 1 1 auto;
}

.smaller {
  font-size: 0.75em;
}
.small-logo {
  width: 32px;
  padding: 0 12px;
}

.title-logo {
  font-size: 1.5em;
}