/* You can add global styles to this file, and also import other style files */
 @import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
/*@import './palette.css';*/
@import './palette2.css';
/* URL Paleta: https://material.io/color/#!/?view.left=0&view.right=0&primary.color=BF360C&secondary.color=616161 */


a {
  color: #bf360c;
  text-decoration: none;
}

a:hover {
  color: #f9683a;
   text-decoration: underline;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: #e0e0e0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.color-primary {
  color: #bf360c;
  font-weight: 800;
}

.border-top {
  border-top: 1px solid #bf360c;
  padding-top: 10px;
}
.title-primary {
  color: #bf360c;
  border-bottom: 1px solid #bf360c;
  padding-bottom: 10px;
}
.title-icon {
  width:24px;
}

#mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

input {
  min-width: 250px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('./assets/fonts/material.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}

.flex.nowrap, .flex-row.nowrap, .flex-column.nowrap{
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex.wrap, .flex-row.wrap, .flex-column.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}