/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.centered-body {
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  max-width: 1100px;
  margin: 0 auto;
}

a {
  color: #2a3c93;
  text-decoration: none;
}

a:hover {
  color: #4860d6;
   text-decoration: underline;
}

body {
  background-color: #FAFAFA;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}