/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


a {
  color: #2a3c93;
  text-decoration: none;
}

a:hover {
  color: #4860d6;
   text-decoration: underline;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: #FAFAFA;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}


input {
  min-width: 250px;
}

.main-card {
  padding: 20px;
  padding-top: 50px;
}
.md-dialog-container {
  position: absolute;
}

.md-dialog {
  max-width: 90%;
  max-height: 90%;
}

md-card {
  margin: 15px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('./assets/fonts/material.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}