<div class="flex flex-row">
  <md-card class="flex-grow" style="background-color:lemonchiffon;">
    <h3>
      <md-icon>local_gas_station</md-icon>
      4321
    </h3>
  </md-card>
  <md-card class="flex-grow" style="background-color:lemonchiffon;">
    <h3>
      <md-icon>starts</md-icon>
      3.4
    </h3>
  </md-card>
</div>
<md-card>
  <div style="min-height: 200px;">
    <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="true"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>
</md-card>