  <div class="main-card">
    <h1>Conductores</h1>

    <md-card class="full-width">
      <md-tab-group>
        <md-tab label="Dashboard">
          <h1>Dashboard</h1>
          <p>...</p>
        </md-tab>
        <md-tab label="Listado">
          <h1>Listado</h1>
          <p>...</p>
        </md-tab>
        <md-tab label="Busqueda">
          <h1>Busqueda</h1>
          <p>...</p>
        </md-tab>
        <md-tab label="Nuevo">
          <h1>Nuevo</h1>
          <p>...</p>
        </md-tab>
      </md-tab-group>

    </md-card>
  </div>